/* You can add global styles to this file, and also import other style files */
.example-spacer {
  flex: 1 1 auto;
}

.mandatory::after{
  content: "*";
  color: #ff0000;
}

.form-control.ng-touched.ng-invalid {
  border:1px solid red;
}

.form-control.ng-touched.ng-valid {
  border:1px solid green;
}


.top-menu {
  background-color: #abe9cd;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
  color: white;
}

.vertical-menu {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

.mat-elevation-z5 {
  position: relative;
  z-index: 2;
}

.mat-sidenav a:hover {
  color: blue;
}


form.normal-form {
  margin: 10px;
}

.controllers-container  {
  width: 100%;
  padding: 5%;
 }

 .controllers-container>*  {
  width: 100%;
 }

 .add-padding-bottom {
  padding-bottom: 10px;
 }

 .mat-radio-group mat-radio-button {
  margin-left: 5px;
 }

 .button-row-button{
  margin:5px;
}




table {
  width: 100%;
}

.hide {
  display: none;
}

mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
}





.search-div {
  margin: 10px;
}

.search-form-field {
  width: 60%;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.search-form-field div.mat-form-field-underline {
  display: none;
}

.search-form-field div.mat-form-field-infix {
  border-top: 0px;
}

.search-form-field div.mat-form-field-wrapper {
  padding-bottom: 0px;
}

.search-form-field div.mat-form-field-suffix button {
  height: 30px;
  width: 30px;
}

.btn-dialog-close {
  width: 45px;
  min-width: 0px !important;
  height: 40px;
  padding: 0px !important;;
}





snack-bar-container.success {
  background-color: #5cb85c;
  color: #fff;
}

snack-bar-container.warn {
  background-color: #f99157;
  color: #fff;
}

snack-bar-container.notification simple-snack-bar{
  font-size: 18px !important;
  font-weight: bold;
}
