<div class="container-fluid">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Warden Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addWarden" type="submit">Add Warden</button>
        </div>
      </div>
  </nav>



  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Password</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let warden of wardenList">
          <td>{{warden.name}}</td>
          <td>{{warden.email}}</td>
          <td>{{warden.password}}</td>
          <td>
              <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#editWarden" (click)="editWarden(warden)">Edit</button>
              <button type="button" class="btn btn-outline-danger" (click)="deleteWarden(warden)">Delete</button>
          </td>

        </tr>

      </tbody>
    </table>


<!-- Add Warden modal -->
<div class="modal fade" id="addWarden" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new Warden</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

          <form [formGroup]="wardenDetail">
              <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Name </label>
                  <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="emailHelp">
                </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email </label>
                <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Password </label>
                  <input type="text" formControlName="password" class="form-control" id="password" aria-describedby="emailHelp">
                </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addWarden()">Add Warden</button>
                </div>
            </form>

      </div>

    </div>
  </div>
</div>


<!-- Edit Warden modal -->
<div class="modal fade" id="editWarden" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Warden details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

          <form [formGroup]="wardenDetail">
              <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Name </label>
                  <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="emailHelp">
                </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email </label>
                <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Password </label>
                  <input type="text" formControlName="password" class="form-control" id="email" aria-describedby="emailHelp">
                </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-outline-success" (click)="updateWarden()" data-bs-dismiss="modal">Update </button>
                </div>
            </form>

      </div>
    </div>
  </div>
</div>


</div>

<button class="btn btn-outline-success" (click)="logout()">Logout</button>
