<mat-toolbar class="top-menu" style="margin-top: 10px;">
  <span>Staff Details</span>
    <span class="example-spacer"></span>
    <button  class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1">
      <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>


  <form [formGroup]="staffService.form" class="normal-form">
    <mat-grid-list cols="1" rowHeight="200px">
      <mat-grid-tile>
        <div class="controllers-container">
          <mat-form-field>
            <!-- <mat-label>Input</mat-label> -->
            <input matInput formControlName="name" placeholder="Name" autocomplete="off">
            <mat-error *ngIf="f['name'].touched && f['name'].invalid" class="text-danger">
              <div *ngIf="f['name'].errors && f['name'].errors['required']">Name is required.</div>
              <div *ngIf="f['name'].errors && f['name'].errors['minlength']">Name should be in min 4 char</div>

            </mat-error>
            </mat-form-field>

          <mat-form-field>
            <input matInput formControlName="email" placeholder="email" autocomplete="off">
            <mat-error *ngIf="f['email'].touched && f['email'].invalid" class="text-danger">
              <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
              <div *ngIf="f['email'].errors && f['email'].errors['email']">Please, enter valid email address.</div>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput formControlName="password" placeholder="password" autocomplete="off">
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-toolbar>
        <span class="example-spacer"></span>
        <div class="button-row">
          <button  type="submit" color="primary" mat-raised-button (click)="onSubmit()" [disabled]="staffService.form.invalid">Submit</button>&nbsp;
          <button color="warn" mat-raised-button (click)="onClear()">Clear</button>
        </div>

    </mat-toolbar>

  </form>
