<app-header></app-header>

<div *ngIf="hidePassF" class="container  mt-3 align-items-center">
  <div class="card col-md-5 mt-sm-5  p-3" style="margin: auto">

      <h3 class="pb-4 text-center border-bottom">Forget Password</h3>

      <form [formGroup]="passwordForm" (ngSubmit)="findPassword()">
        <div class="row ">
          <div class="col-md-6 mt-2">
              <div class="inputs"> <label>Email</label>
                <input class="form-control" type="text" maxlength="30" placeholder="Email" id="floatingInput" name="email" formControlName="email"> </div>
                <div *ngIf="f['email'].touched && f['email'].invalid" class="text-danger">
                  <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
                  <div *ngIf="f['email'].errors && f['email'].errors['email']">Please, enter valid email address.</div>
                </div>
          </div>

          <div class="col-md-6 mt-2 ">
            <div class="inputs"> <label>Warden Id</label>
              <input class="form-control" type="text" maxlength="12" placeholder="Warden Id"  formControlName="wardenId"> </div>
              <div *ngIf="f['wardenId'].touched && f['wardenId'].invalid" class="text-danger">
                <div *ngIf="f['wardenId'].errors && f['wardenId'].errors['required']">wardenId is required.</div>
                <div *ngIf="f['wardenId'].errors && f['wardenId'].errors['minlength']">Please enter valid Warden Id</div>
                <div *ngIf="f['wardenId'].errors && f['wardenId'].errors['maxlength']">Please enter valid Warden Id</div>
              </div>
          </div>

      </div><br>
      <div *ngIf="showPass"><h3>Password: {{password}}</h3></div>
      <button class="px-3 btn btn-sm btn-outline-primary" type="button" (click)="hidePass()">Forget Email ?</button>


      <div class="mt-3 gap-2 d-flex justify-content-end">
         <button class="px-3 btn btn-sm btn-outline-primary" type="button" (click)="onCancel()">Reset</button>
        <button class="px-3 btn btn-sm btn-primary" type="submit" [disabled]="passwordForm.invalid">Find</button> </div>
      </form>

  </div>
</div>

<div *ngIf="hideEmailF" class="container  mt-3 align-items-center">
  <div class="card col-md-5 mt-sm-5  p-3" style="margin: auto">

      <h3 class="pb-4 text-center border-bottom">Forget Email ID</h3>

      <form [formGroup]="emailForm" (ngSubmit)="findEmail()">
        <div class="row ">
          <div class="col-md-6 ">
            <div class="inputs"> <label>Warden Id</label>
              <input class="form-control" type="text" maxlength="12" placeholder="Warden Id"  formControlName="wardenId"> </div>
              <div *ngIf="e['wardenId'].touched && e['wardenId'].invalid" class="text-danger">
                <div *ngIf="e['wardenId'].errors && e['wardenId'].errors['required']">reg No. is required</div>
                <div *ngIf="e['wardenId'].errors && e['wardenId'].errors['minlength']">Please enter valid Warden Id</div>
                <div *ngIf="e['wardenId'].errors && e['wardenId'].errors['maxlength']">Please enter valid Warden Id</div>
              </div>
          </div>
      </div><br>
      <div *ngIf="showEmail"><h3>Email: {{email}} </h3></div>
      <button class="px-3 btn btn-sm btn-outline-primary" type="button" (click)="hideEmail()">Forget Password ?</button>


      <div class="mt-3 gap-2 d-flex justify-content-end">
         <button class="px-3 btn btn-sm btn-outline-primary" type="button" (click)="onCancel()">Reset</button>
        <button class="px-3 btn btn-sm btn-primary" type="submit" [disabled]="emailForm.invalid">Find</button> </div>
      </form>

  </div>
</div>
