<app-header></app-header>
<div class="container-fluid">
  <div class="row">
      <div class="col-md-6">
          <img src="../../../assets/login_img.svg" height="100%" width="100%">
      </div>
      <div class="col-md-4 mt-3 mb-2">
          <h3 class="text-success text-center"><b>STAFF SIGNUP </b></h3>

          <form [formGroup]="signupForm" (ngSubmit)="signup()" action="" class="mt-5 p-5">
              <h5 class="text-primary mb-3">Sign up </h5>
              <div class="form-floating mb-3">
                  <input type="text" class="form-control" minlength="4" maxlength="20"  placeholder="name" name="name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors}">
                  <label for="floatingInput">Name</label>
                    <div *ngIf="f['name'].touched && f['name'].invalid" class="text-danger">
                      <div *ngIf="f['name'].errors && f['name'].errors['required']">name is required.</div>
                      <div *ngIf="f['name'].errors && f['name'].errors['minlength']">name should be max 4 char.</div>
                    </div>
              </div>
              <div class="form-floating mb-3">
                  <input type="text" class="form-control" maxlength="30" placeholder="Email" name="email" formControlName="email">
                  <label for="floatingInput">Email address</label>
                  <div *ngIf="f['email'].touched && f['email'].invalid" class="text-danger">
                    <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
                    <div *ngIf="f['email'].errors && f['email'].errors['email']">Please, enter valid email address.</div>
                  </div>
              </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" minlength="8" maxlength="16" placeholder="Password" name="password" formControlName="password">
                  <label for="floatingPassword">Password</label>
                  <div *ngIf="f['password'].touched && f['password'].invalid" class="text-danger">
                    <div *ngIf="f['password'].errors && f['password'].errors['required']">Password is required.</div>
                    <div *ngIf="f['password'].errors && f['password'].errors['pattern']">password should be 8-16 char.</div>
                  </div>
                </div>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button class="btn btn-outline-success me-md-2" type="submit" [disabled]="signupForm.invalid" >Register</button>
                </div>

                <a routerLink="/staffLogin" class="text-primary" style="text-decoration: none;">Log In ? </a>
          </form>
      </div>
      <div class="col-md-2">
      </div>
  </div>
</div>
