<app-header></app-header>
<div class="container  mt-3 align-items-center">
  <div class="card col-md-5 mt-sm-5  p-3" style="margin: auto">

      <h4 class="pb-4 text-center border-bottom">Student Signup</h4>

      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <div class="row ">
          <div class="col-md-6 mt-2">
              <div class="inputs"> <label class="text-muted mandatory">Name</label>
                <input class="form-control" type="text" placeholder="Name" name="name" [(ngModel)]="name"  formControlName="name" required> </div>
          </div>
          <div class="col-md-6 mt-2">
              <div class="inputs"> <label>Email</label>
                <input class="form-control" type="text" placeholder="Email" name="email" [(ngModel)]="email"  formControlName="email" required> </div>
          </div>

          <div class="col-md-6 mt-2">
            <div class="inputs"> <label>Phone No.</label>
               <input class="form-control" type="text" placeholder="Phone No." name="phoneNo" [(ngModel)]="phoneNo"  formControlName="phoneNo" required> </div>
          </div>

          <div class="col-md-6 mb-4 mt-2">
            <div class="inputs"> <label>Marital Status</label>
              <select class="form-select" aria-label="Default select example" [(ngModel)]="status"  formControlName="status" required>
                <option [selected]="1" >Select Option</option>
                <option value="Single" >Single</option>
                <option value="Married">Married</option>
              </select> </div>
          </div>

          <div class="col-md-6 mt-2">
            <div class="inputs"> <label>Password</label>
              <input class="form-control" type="password" placeholder="Password" name="password" [(ngModel)]="password"  formControlName="password" required> </div>
          </div>

          <div class="col-md-6 mt-2">
            <div class="inputs"> <label>Confirm Password</label>
              <input class="form-control" type="password" placeholder="confirm password" name="confirmPassword" [(ngModel)]="confirmPassword"  formControlName="confirmPassword" required> </div>
          </div>

          <div class="col-md-6 mb-4 mt-2">

            <div class="inputs"> <label>Gender</label>
              <select class="form-select" aria-label="Default select example" [(ngModel)]="gender"  formControlName="gender" required>
                <option [selected]="1">Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Others">Others</option>
              </select> </div>
          </div>

          <div class="col-md-4 mt-2">
              <div class="inputs"> <label>Date of Birth</label>
                <input class="form-control" type="date" placeholder="Date of Birth" [(ngModel)]="dateOfBirth"  formControlName="dateOfBirth" required> </div>
          </div>
          <div class=" col-md-2 mt-2">
            <div class="inputs"> <label>Age</label>
               <input class="form-control" type="number" placeholder="Age" [(ngModel)]="age"  formControlName="age" required> </div>
          </div>


          <div class="col-md-3 mb-4">
            <div class="inputs"> <label>Course</label>
              <select class="form-select" aria-label="Default select example"  [(ngModel)]="course"  formControlName="course" required>
                <option [selected]="1">Select Course</option>
                <option value="UG">UG</option>
                <option value="PG">PG</option>
              </select> </div>
          </div>

          <div class="col-md-3 mb-4">
            <div class="inputs"> <label>Department</label>
              <select class="form-select" aria-label="Default select example" [(ngModel)]="dept"  formControlName="dept" required>
                <option [selected]="1">Select Department</option>
                <option value="Civil">Civil</option>
                <option value="Mech">Mech</option>
                <option value="MCA">MCA</option>
              </select> </div>
          </div>

          <div class="col-md-4 ">
            <div class="inputs"> <label>Roll No.</label>
              <input class="form-control" type="text" placeholder="Roll No." [(ngModel)]="regNo"  formControlName="regNo" required> </div>
          </div>

          <div class="col-md-2 mb-4">
            <div class="inputs"> <label>Year</label>
              <select class="form-select" aria-label="Default select example"  [(ngModel)]="year"  formControlName="year" required>
                <option [selected]="1">Select Year</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select> </div>
          </div>

          <div class="col-md-12 mb-4">
            <div class="inputs"> <label>Hostel</label>
              <select class="form-select" aria-label="Default select example" [(ngModel)]="hostel"  formControlName="hostel">
                <option [selected]="1" >Select Hostel</option>
                <option value="Pothigai Boys Hostel">Pothigai Boys Hostel </option>
                <option value="Thamirabharani Girls Hostel">Thamirabharani Girls Hostel</option>
              </select> </div>
          </div>

      </div>

      <div class="row mt-2">

        <div class="col-md-12 mt-2">
          <div class="inputs"> <label>Street</label>
             <input class="form-control" type="text" placeholder="Door No. & Street Name" [(ngModel)]="street"  formControlName="street" required> </div>
        </div>
        <div class="col-md-6 mt-2">
          <div class="inputs"> <label>City</label>
             <input class="form-control" type="text" placeholder="City" [(ngModel)]="city"  formControlName="city" required> </div>
        </div>
        <div class="col-md-6 mt-2">
          <div class="inputs"> <label>District</label>
            <input class="form-control" type="text" placeholder="District" [(ngModel)]="district"  formControlName="district" required> </div>
        </div>
        <div class="col-md-6 mt-2">
          <div class="inputs"> <label>State</label>
            <input class="form-control" type="text" placeholder="State" [(ngModel)]="state"  formControlName="state" required> </div>
        </div>
        <div class="col-md-6 mt-2">
          <div class="inputs"> <label>Pincode</label>
            <input class="form-control" type="text" placeholder="Pincode" [(ngModel)]="pincode"  formControlName="pincode" required> </div>
        </div>

    </div>

    <div class="row mt-2">
      <div class="col-md-6 mt-2">
        <div class="inputs"> <label>Father Name</label>
          <input class="form-control" type="text" placeholder="Father Name" [(ngModel)]="fatherName"  formControlName="fatherName" required> </div>
      </div>
      <div class="col-md-6 mt-2">
        <div class="inputs"> <label>Father Mobile No.</label>
          <input class="form-control" type="text" placeholder="Father Mobile No." [(ngModel)]="fatherPhoneNo"  formControlName="fatherPhoneNo" required> </div>
      </div>
      <div class="col-md-6 mt-2">
        <div class="inputs"> <label>Mother Name</label>
          <input class="form-control" type="text" placeholder="Mother Name" [(ngModel)]="motherName"  formControlName="motherName" required> </div>
      </div>
      <div class="col-md-6 mt-2">
        <div class="inputs"> <label>Mother Mobile No.</label>
          <input class="form-control" type="text" placeholder="Mother Mobile No." [(ngModel)]="motherPhoneNo"  formControlName="motherPhoneNo" required> </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-6 mt-2">
        <div class="inputs"> <label>Guardian Name</label>
          <input class="form-control" type="text" placeholder="Guardian Name" [(ngModel)]="guardianName"  formControlName="guardianName"> </div>
      </div>
      <div class="col-md-6 mt-2">
        <div class="inputs"> <label>Guardian Mobile No.</label>
          <input class="form-control" type="text" placeholder="Guardian Mobile No." [(ngModel)]="guardianPhoneNo"  formControlName="guardianPhoneNo"> </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-12 mt-2">
        <div class="inputs"> <label>Relation</label>
          <input class="form-control" type="text" placeholder="Relation" [(ngModel)]="relationship"  formControlName="relationship"> </div>
      </div>
        <div class="col-md-12">
          <div class="about-inputs"> <label>Address</label>
            <textarea class="form-control" type="text" placeholder="Street Name, City, District" [(ngModel)]="guardianAddress"  formControlName="guardianAddress"> </textarea> </div>
    </div>

  </div>
      <div class="mt-3 gap-2 d-flex justify-content-end">
         <button class="px-3 btn btn-sm btn-outline-primary">Cancel</button>
        <button class="px-3 btn btn-sm btn-primary" type="submit" [disabled]="signupForm.invalid">Save</button> </div>
      </form>

  </div>
</div>
