<app-header></app-header>
<div class="container-fluid">
  <div class="row">
      <div class="col-md-6">
          <img src="../../../assets/login_img.svg" height="100%" width="100%">
      </div>
      <div class="col-md-4 mt-3 mb-2">
          <h2 class="text-success text-center"><b>WARDEN LOGIN</b></h2>

          <form [formGroup]="loginForm" (ngSubmit)="login()" action="" class="mt-5 p-4">
              <h3 class="text-primary mb-3">Login </h3>
              <div class="form-floating mb-3">
                  <input type="text" class="form-control" maxlength="30" id="floatingInput" placeholder="Email" name="email" [(ngModel)]="email" formControlName="email" required>
                  <label for="floatingInput">Email address</label>
                  <div *ngIf="f['email'].touched && f['email'].invalid" class="text-danger">
                    <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
                    <div *ngIf="f['email'].errors && f['email'].errors['email']">Please, enter valid email address.</div>
                  </div>
              </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" minlength="8" maxlength="16" id="floatingPassword" placeholder="Password" name="password" [(ngModel)]="password" formControlName="password">
                  <label for="floatingPassword">Password</label>
                  <div *ngIf="f['password'].touched && f['password'].invalid" class="text-danger">
                    <div *ngIf="f['password'].errors && f['password'].errors['required']">Password is required.</div>
                    <div *ngIf="f['password'].errors && f['password'].errors['pattern']">password should be 8-16 char</div>
                  </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button class="btn btn-outline-success me-md-2" type="submit" [disabled]="loginForm.invalid" >Login</button>
                </div>

                <a routerLink="/wardenForgetPassword" class="text-primary" style="text-decoration: none;">Forget Password </a> <br><br>
                <a routerLink="/wardenSignup" class="text-primary" style="text-decoration: none;">Need an account ? </a>
          </form>

      </div>
      <div class="col-md-2">
      </div>
  </div>
</div>
