<div class="container  mt-3 align-items-center">
  <div class="card col-md-5 mt-sm-5  p-3" style="margin: auto">

      <h3 class="pb-4 text-center border-bottom">Change Password</h3>

      <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <div class="row ">
          <div class="col-md-12 mt-2">
              <div class="inputs"> <label>Old Password</label>
                <input class="form-control" type="text" maxlength="30" placeholder="Old Password" id="floatingInput" name="Password" formControlName="password"> </div>
                <div *ngIf="f['password'].touched && f['password'].invalid" class="text-danger">
                  <div *ngIf="f['password'].errors && f['password'].errors['required']">Password is required.</div>
                  <div *ngIf="f['password'].errors && f['password'].errors['pattern']">Password should be Mixed of A-Z a-z @ 1234</div>
                </div>
          </div>

          <div class="col-md-12 mt-2 ">
            <div class="inputs"> <label>New Password</label>
              <input class="form-control" type="text" maxlength="12" placeholder="New Password"  formControlName="newPassword"> </div>
              <div *ngIf="f['newPassword'].touched && f['newPassword'].invalid" class="text-danger">
                <div *ngIf="f['newPassword'].errors && f['newPassword'].errors['required']">Password is required.</div>
                <div *ngIf="f['newPassword'].errors && f['newPassword'].errors['pattern']">Password should be Mixed of A-Z a-z @ 1234</div>
              </div>
          </div>
          <div class="col-md-12 mt-2 ">
            <div class="inputs"> <label>Confirm Password</label>
              <input class="form-control" type="text" maxlength="12" placeholder="Confirm Password"  formControlName="confirmPassword"> </div>
              <div *ngIf="f['confirmPassword'].touched && f['confirmPassword'].invalid" class="text-danger">
                <div *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['required']">Password is required.</div>
                <div *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['pattern']">Password should be Mixed of A-Z a-z @ 1234</div>
                <div *ngIf="f['confirmPassword'].getError('confirmingPassword')">Password didn't match</div>
                <!-- <div *ngIf="f['confirmPassword'].errors ">Password didn't match</div> -->
              </div>
          </div>

      </div><br>

      <div class="mt-3 gap-2 d-flex justify-content-end">
         <button class="px-3 btn btn-sm btn-outline-primary" type="button" (click)="onCancel()">Reset</button>
        <button class="px-3 btn btn-sm btn-primary" type="submit" [disabled]="changePasswordForm.invalid">submit</button> </div>
      </form>

  </div>
</div>

