<div class="container  mt-3 align-items-center">
  <div class="card col-md-5 mt-sm-5  p-3" style="margin: auto">

      <h2 class="pb-4 text-center border-bottom">Change Password</h2>

      <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <div class="row ">
          <div class="col-md-12 mt-2">
              <div class="inputs"> <label>Old Password</label>
                <input class="form-control" type="text" maxlength="30" placeholder="Old Password" id="floatingInput" name="email" formControlName="email"> </div>
                <div *ngIf="f['email'].touched && f['email'].invalid" class="text-danger">
                  <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
                  <div *ngIf="f['email'].errors && f['email'].errors['email']">Please, enter valid email address.</div>
                </div>
          </div>

          <div class="col-md-12 mt-2 ">
            <div class="inputs"> <label>New Password</label>
              <input class="form-control" type="text" maxlength="12" placeholder="New Password"  formControlName="regNo"> </div>
              <div *ngIf="f['regNo'].touched && f['regNo'].invalid" class="text-danger">
                <div *ngIf="f['regNo'].errors && f['regNo'].errors['required']">regNo is required.</div>
                <div *ngIf="f['regNo'].errors && f['regNo'].errors['minLength']">Please enter valid Reg No</div>
                <div *ngIf="f['regNo'].errors && f['regNo'].errors['maxLength']">Please enter valid Reg No</div>
              </div>
          </div>
          <div class="col-md-12 mt-2 ">
            <div class="inputs"> <label>Confirm Password</label>
              <input class="form-control" type="text" maxlength="12" placeholder="Confirm Password"  formControlName="regNo"> </div>
              <div *ngIf="f['regNo'].touched && f['regNo'].invalid" class="text-danger">
                <div *ngIf="f['regNo'].errors && f['regNo'].errors['required']">regNo is required.</div>
                <div *ngIf="f['regNo'].errors && f['regNo'].errors['minLength']">Please enter valid Reg No</div>
                <div *ngIf="f['regNo'].errors && f['regNo'].errors['maxLength']">Please enter valid Reg No</div>
              </div>
          </div>

      </div><br>

      <div class="mt-3 gap-2 d-flex justify-content-end">
         <button class="px-3 btn btn-sm btn-outline-primary" type="button" (click)="onCancel()">Reset</button>
        <button class="px-3 btn btn-sm btn-primary" type="submit" [disabled]="changePasswordForm.invalid">submit</button> </div>
      </form>

  </div>
</div>

