<!-- <div class="container-fuild g-0">
  <div class="navbar navbar-expand navbar-dark bg-dark px-2">
    <div class="side-nav-button p-2 me-3 text-light">
      <i class="fa-solid fa-bars"></i>
    </div>
    <a class="navbar-brand" routerLink="adminDashboard">Admin</a>

    <div class="navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            student
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="staffManagement">Student Management</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            staff
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="staffManagement">Staff Management</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            warden
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="wardenManagement">warden Management</a></li>
          </ul>
        </li>
      </ul>

    </div>

    <div class="flex-shrink-0 dropdown">
      <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://via.placeholder.com/28?text=!" alt="user" width="32" height="32" class="rounded-circle">
      </a>
      <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="dropdownUser2" style="">
        <li><a class="dropdown-item" routerLink="adminDashboard">Dashboard</a></li>
         <li><a class="dropdown-item" routerLink="adminProfile">Profile</a></li>
         <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" type="button" (click)="logout()">Sign out</a></li>
      </ul>
    </div>
</div>


<div class="container">
  <router-outlet>
  </router-outlet>
</div> -->








<mat-toolbar class="mat-elevation-z5" color="primary">
  <mat-toolbar-row>
    <span>Admin</span>
    <button mat-icon-button (click)="toggleNav(sidenav)" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="settings icon">
      <mat-icon class="icon" aria-hidden="false" aria-label="settings icon">settings</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon class="icon" aria-hidden="false" aria-label="home icon">account_circle</mat-icon>
    </button>
  </mat-toolbar-row>

</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav opened mode="side" style="background-color: #eee;" class="vertical-menu">
    <mat-nav-list style="width:200px">
      <a mat-list-item routerLink="adminDashboard"> <mat-icon>dashboard</mat-icon>&nbsp; Dashboard</a>
      <a mat-list-item routerLink="studentManagement"> <mat-icon>person</mat-icon> &nbsp; Student Details</a>
      <a mat-list-item routerLink="staffManagement"> <mat-icon>person</mat-icon>&nbsp;Staff Details</a>
      <a mat-list-item routerLink="wardenManagement"> <mat-icon>person</mat-icon>&nbsp;Warden Details</a>
      <a mat-list-item> <mat-icon>input</mat-icon>&nbsp; Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <body style="height: 90vh;">
      <router-outlet>
      </router-outlet>
    </body>
  </mat-sidenav-content>
</mat-sidenav-container>
