<app-header></app-header>
<div class="container-fluid">
  <div class="row">
      <div class="col-md-6">
          <img src="../../../assets/login_img.svg" height="100%" width="100%">
      </div>
      <div class="col-md-4 mt-3 mb-2">
          <h3 class="text-success text-center"><b>STUDENT LOGIN</b></h3>

          <form action="" class="mt-5 p-5">
              <h5 class="text-primary mb-3">Login </h5>
              <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="Email" name="email" [(ngModel)]="email" required>
                  <label for="floatingInput">Email address</label>
              </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" [(ngModel)]="password">
                  <label for="floatingPassword">Password</label>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button class="btn btn-outline-success me-md-2" type="button" (click)="login()" >Login</button>
                </div>

                <a routerLink="/studentSignup" class="text-primary" style="text-decoration: none;">Need account ? </a>
          </form>

      </div>
      <div class="col-md-2">
      </div>
  </div>
</div>








<!-- <h2 style="text-align: center;"> Student Login</h2>
<div class="container">
  <div class="col-lg-4"></div>
  <div class="col-lg-4" style="background-color: azure;">
    <form [formGroup]="login" (ngSubmit)="getData()">
      <input type="text" class="form-control" placeholder="Username" formControlName="name">
      <span *ngIf="name && name.invalid && name.touched" style="color: red;">Enter Valid Data</span>
      <br>
      <input type="password" class="form-control" placeholder="Password" formControlName="password">
      <span *ngIf="password && password.invalid && password.touched" style="color: red;">Enter Valid Data</span>
      <br>
      <button [disabled]="login.invalid" type="submit" class="btn btn-success">Login</button>


    </form>
  </div>
</div> -->
